<header>
    <div>
        <span class="menu_btn" (click)="onDisplayMenu()">
            <img [src]="iconPath" class="action_icon">
        </span>
        <app-navigation-menu [show]="displayMenu" />
        <h1>{{ appTitle }}</h1>
        <app-action-menu></app-action-menu>
    </div>
    <div>
        <input type="text" id="search_input" [(ngModel)]="searchInput" (keyup.enter)="onSearchClicked()" (keyup)="onSearch()"/>
        <button id="search_btn" (click)="onSearchClicked()"><img src="assets/search_icon.svg" class="form_icon"></button>
    </div>
</header>